.circle {
  width: 1000px;
  height: 1000px;
}

.pc {
  width: 400px;
  left: 20%;
  transform: translateY(-30%);
}

.overray {
  border-top: 520px solid #fff;
  border-right: 520px solid transparent;
  border-left: 520px solid #fff;
  border-bottom: 520px solid #fff;
}

.controle {
  right: 15%;
}

.badge {
  @apply px-4 py-2 text-sm bg-badge;
}
